*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: 'Roboto-Light';
    src:url(../fonts/Roboto/Roboto-Light.ttf);
}
header{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    text-transform: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
.box-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
}
li{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.header-logo{
padding-right: 35%;
}
a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto-Regular', sans-serif;
}
.header-text-links{
    padding-left: 7%;
}
.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    background-color: #1f2937;
}
.part-one{
    margin-left: 7%;
}
.part-one p{
    margin-right: 40px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 8px;
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto-Regular', sans-serif;
}
.part-one h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    font-family: 'Roboto-Bold',sans-serif;
}
.part-two{
    margin-right: 7%;
}
.part-two img{
margin-left: 10px;
}
.first-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    border:1px solid #3882f6;
    font-weight: 900;
    font-family: 'Roboto-Bold', sans-serif;
}
.second-section h2{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.boxes-four{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.boxes-four figure{
    background-color: white;
}
.boxes-four figure img{
    border: 2px solid #3882f6;
    border-radius: 10px;
}
.boxes-four figure figcaption{
    text-align: justify;
    width: 250px;
}
.second-section{
    margin-bottom: 30px;
    padding-bottom: 30px;
}
blockquote{
    width: 600px;
   display: inline-block;
   margin-bottom: 20px;
   margin-top:60px;
}
blockquote p{  
    font-size: 36px;
    font-family: 'Roboto-LightItalic', sans-serif ;
    color: #1f2937;
}
.section-sign{
    display: flex;
    justify-content: center;
}
.section-sign h3{
    margin-top: 20px;
    font-family: 'Roboto-Bold', sans-serif;
    color: #f9faf8;
    font-size: 18px;
}
.section-blockquote{
    text-align: center;
    background-color: #e5e7eb;
    padding-bottom: 45px;
}
.section-author{
    margin-bottom: 20px;
    margin-left: 188px;
    padding-left: 20%;
}
.sign-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sign-content p{
    color: #f9faf8;
    font-family: 'Roboto-Light',sans-serif;
    font-size: 12px;
}
.sign-content button{
    margin-left: 60px;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 4px;
    background-color: #3882f6;
}
.sign-total{
    background-color: #3882f6;
    margin-top: 60px;
    padding-bottom: 30px;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 60px;
}
footer{
    background-color: #1f2937;
    padding: 30px;
}
footer p{
    text-align: center;
    color: #f9faf8;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 12px;
}
